
<script type="text/javascript">
  window.logoURL = "<%= image_url('logo.png') %>";
  window.magicLogoURL = "<%= image_url('logo2.png') %>"
</script>

<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  </script>
<% end%>


<main id="root">OHHH NOOO(React doesn't like that)</main>