
.nav-icon {
  size: 25px;
  position: relative;
  font-size: 25px;
  color: blue;
  background: none;
  border: none;
  cursor: pointer;
  bottom: 0.5em;
  right: 50%;
}

.nav-icon-popped {
  size: 35px;
  position: relative;
  font-size: 35px;
  color: red;
  background: none;
  border: none;
  cursor: pointer;
  bottom: 0.5em;
  right: 50%;
}

.nav-icon:hover {
  font: 35px;
  font-size: 35px;
}

.marker-btn {
  display: none;
}

.mapboxgl-popup-content {
  border-radius: 8px;
  background: white;
}

// .mapboxgl-popup-content {

// }

// .marker-class {
//   background-color: darkmagenta;
//   // position: relative;
//   height: 0;
// }