.upload-photos-form {
  background-color: white;
  width: 400px;
  height: fit-content;
  padding: 10px 40px 10px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;

  label {
    width: 100%;
    text-align: left;
    font-size: 32px;
    font-weight: 600;
    color: rgb(122, 122, 122);
    font-family: 'Montserrat', Sans-Serif;
    margin: 20px 0 20px 0;
  }

  div {

  }

}

.photos-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin: 20px 0 20px 0;

}

.photos-button-cancel {
  border: none;
  background: none;
  color: green;
  font-family: 'Montserrat', Sans-Serif;
  margin: 10px 30px 10px 30px;
  font-size: 18px;
  font-weight: 500;
}

.photos-button-cancel:hover {
  color: rgb(136, 196, 136);
}

.photos-button-ready {
  border: none;
  background-color: green;
  color: white;
  font-family: 'Montserrat', Sans-Serif;
  padding: 10px 30px 10px 30px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
}

.photos-button-ready:hover {
  background-color: rgb(0, 153, 0);
}

.photos-button-not-ready {
  border: none;
  background-color: rgb(136, 196, 136);
  color: white;
  font-family: 'Montserrat', Sans-Serif;
  padding: 10px 30px 10px 30px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
  cursor: auto;
}

.image-preview {
  img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 8px;
  }
}

.browse-files-container {
  border: solid lightgrey 1px;
  border-radius: 8px;
  background: none;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .browse-camera {
    font-size: 60px;
    color: green;
    background-color: rgb(240, 240, 240);
    border-radius: 100px;
    padding: 20px;
    margin-bottom: 20px;
  }

  span {
    font-size: 24px;
    font-weight: 500;
    color: rgb(70, 70, 70);
    margin-bottom: 10px;
  }

  p {
    font-size: 12px;
    font-weight: 100px;
    color: rgb(70, 70, 70);
  }

}

.browse-files-container:hover {
  background-color: rgb(240, 240, 240);

  .browse-camera {
    background-color: white;
  }

  span {
    color: green;
  }
}

.change-file-container {
  border: solid lightgrey 1px;
  border-radius: 8px;
  background: none;
  width: 400px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

  span {
    font-size: 24px;
    font-weight: 500;
    color: rgb(70, 70, 70);
    margin-bottom: 10px;
  }

  p {
    font-size: 12px;
    font-weight: 100px;
    color: rgb(70, 70, 70);
  }

}

.change-file-container:hover {
  background-color: rgb(240, 240, 240);

  span {
    color: green;
  }
}