.rating-stars-full-star {
  svg {
    color: rgb(255, 219, 0);
  }
}

.rating-stars-empty-star {
  svg {
    color: rgb(224, 224, 224);
  }
}

.rating-stars-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: none;
  width: 120px;
}

.half-full-star {
  position: relative;
  top: 8px;
  z-index: 2;
  overflow-x: hidden;
  svg {
    color: rgb(255, 219, 0);
  }
}

.half-empty-star {
  z-index: 1;
  position: relative;
  top: -8px;
  svg {
    color: rgb(224, 224, 224);
  }
}