.standard-view-reviews-container-visible {
  display: flex;
  flex-direction: column;
  margin: 0 0 20px 0;
}

.reviews-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid lightgrey 1px;
  margin: 0 20px 0 20px;
  height: fit-content;
  
  .reviews-header-content {
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 58%;
  }


  button {
    background-color: green;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 40px 10px 40px;
    font-size: 18px;
  }

  button:hover {
    background-color: rgb(0, 152, 0);
  }

  .trail-ratings-container {

    h6 {
      font-size: 48px;
      color: rgb(124, 124, 124);
    }

    div {
      margin-top: 5px;
    }

    .half-empty-star {
      z-index: 1;
      position: relative;
      top: -13px;
      svg {
        color: rgb(224, 224, 224);
      }
    }

  }
}

.empty-reviews {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-left: 20px;
  
  span {
    background-color: rgb(245, 245, 245);
    border-radius: 8px;
    margin: 40px 0 40px 0;
    font-size: 18px;
    width: fit-content;
    padding: 15px;
    border: solid 1px lightgrey;
    font-family: Arial, Helvetica, sans-serif;
  }
}

.button-only-header {

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 120px;
  margin: 0 20px 0 20px;
  border-bottom: lightgrey solid 1px;

  button {
    background-color: green;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 40px 10px 40px;
    font-size: 18px;
  }

  button:hover {
    background-color: rgb(0, 152, 0);
  }
}

.empty-reviews-link {
  color: green;
}

.empty-reviews-link:hover {
  color: rgb(0, 189, 0);
}

.full-reviews-logged-out {
  padding: 10px;
  background-color: rgb(235, 235, 235);
  border-radius: 8px;
  border: solid 1px lightgrey;
  color: rgb(83, 83, 83);
  font-size: 18px;
  font-weight: 500;
  width: 150px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 20px;
}

.full-reviews-link {
  color: green;
}

.full-reviews-link:hover {
  color: rgb(0, 187, 0);
}