.search-container {
  width: 560px;
  flex-direction: row;
  justify-content: center;
}

.visible-search-form {
  align-items: center;
  display: flex;
  font-family: 'Montserrat', Sans-Serif;
  background-color: white;
  padding: 18px 10px 18px 15px;
  border-radius: 37px 37px 0 0;
  width: 535px;
  max-width: 100%;
  height: auto;
  border: none;
  margin: none;
  border-top: solid lightgrey 1px;
  
  button {
    color: forestgreen;
    background-color: transparent;
    border: none;
    font-size: 200%;
    margin: none;  }
}

.hidden-search-form {
  align-items: center;
  display: flex;
  font-family: 'Montserrat', Sans-Serif;
  background-color: white;
  padding: 18px 10px 18px 15px;
  border-radius: 100px;
  width: 535px;
  max-width: 100%;
  height: auto;
  border: none;
  margin: none;
  
  button {
    color: forestgreen;
    background-color: transparent;
    border: none;
    font-size: 200%;
    margin: none;  }
}

.search-input {
  width: 500px;
  margin-left: 5px;

  input {
    border: none;
    color: rgb(117, 117, 117);
    font-size: 16px;
    width: 400px;
  }
}

.search-icon {
  color: rgb(117, 117, 117);
  font-weight: 10%;
  font-size: small;
}

.visible-search-list {
  z-index: 1;
  background-color: white;
  max-height: 300px;
  height: fit-content;
  min-height: 75px;
  width: 560px;
  border-radius: 0 0 37px 37px;
  position: absolute;
  display: flex;
  justify-content: left;
  align-content: center;
  box-shadow: 0 1px 2px 0 lightgrey;  
  
  ul {
    overflow-y: auto;
    width: inherit;
    margin-bottom: 39px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid lightgrey;
  }

  .visible-search-result-link {
    width: 540px;
    height: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: solid lightgrey 1px;
  
    .visible-trail-search-list-icon {
    border-radius: 60px;
    padding: 5px;
    color: green;
    padding: 15px;
    margin: 0 10px 0 10px;
    background-color: rgb(233, 233, 233);
    }

    .visible-search-result-link-content{
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      h6 {
        font-size: 30px;
      }

      p {
        font-size: 12px;
      }

    }

    a:last-child{
      width: 540px;
      height: 75px;
      display: flex;
      flex-direction: row;
      align-items: center;
    
      .visible-trail-search-list-icon {
      border-radius: 60px;
      padding: 5px;
      color: green;
      padding: 15px;
      margin: 0 10px 0 10px;
      background-color: rgb(233, 233, 233);
      }

      .visible-search-result-link-content{
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        h6 {
          font-size: 30px;
        }

        p {
          font-size: 12px;
        }

      }
    }
  }


  .visible-search-result-link:hover {
    background-color: rgb(233, 233, 233);

    svg{
      background-color: white;
    }
  }

  .visible-search-errors {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 628px;
    border-top: 1px solid lightgrey;
  }
  .visible-search-error-li {
    font-size: 20px;
    color: red;
  }
}




.hidden-search-list {
  display: none;

  .hidden-search-list {
    display: none;
  }

  .hidden-search-result-link {
    display: none;
  
    .hidden-trail-search-list-icon {
    display: none;
    }
  }

  .hidden-search-errors {
    display: none;
    .hidden-search-error-li {
      display: none;    }
  }
}