.search-form {
  align-items: center;
  display: flex;
  font-family: 'Montserrat', Sans-Serif;
  background-color: white;
  padding: 18px;
  padding-right: 10px;
  border-radius: 100px;
  width: 600px;
  max-width: 100%;
  height: auto;
  border: none;
  
  button {
    color: forestgreen;
    background-color: transparent;
    border: none;
    font-size: 200%;
  }
}

.search-container {
  width: 570px;
  max-width: 100%;
  margin-left: 5px;
  z-index: 2;

  input {
    border: none;
    color: rgb(117, 117, 117);
    font-size: 16px;
  }
}

.search-icon {
  color: rgb(117, 117, 117);
  font-weight: 10%;
  font-size: small;
}

.visible-search-list {
  z-index: 1;
  background-color: white;
  height: 300px;
  width: 598px;
  overflow-y: auto;
  border-radius: 0 0 16px 16px;
  position: absolute;
  display: flex;
  justify-content: left;
  align-content: center;

  
  .visible-search-result-link {
    height: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
  
    .visible-trail-search-list-icon {
    border-radius: 60px;
    padding: 5px;
    color: green;
    }

    .visible-search-result-link-content{
      display: flex;
      flex-direction: column;
      align-items: flex-start;

    }
  }

  .visible-search-errors {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 628px;
  }
  .visible-search-error-li {
    font-size: 20px;
  }
}




.hidden-search-list {
  display: none;

  .hidden-search-list {
    display: none;
  }

  .hidden-search-result-link {
    display: none;
  
    .hidden-trail-search-list-icon {
    display: none;
    }
  }

  .hidden-search-errors {
    display: none;
    .hidden-search-error-li {
      display: none;    }
  }
}