// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.session-form-container {
  position: fixed;
  background-color: white;
  border-radius: 8px 8px 8px 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 500px;
  top: 390px;
  right: 50%;
  transform: translate(50%, -50%);
  z-index: 0;
  font-family: 'Montserrat', Sans-Serif;
  width: auto;
  box-shadow:  0 0 8px 1px lightgrey;
  margin-left: auto;
  margin-right: auto;


  h1 {
    font-family: 'Montserrat', Sans-Serif;
    font-size: x-large;
    font-weight: 600;
    text-align: center;
  }

  
  .session-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
    padding-top: 10px;
    margin-right: 12px;
    margin-left: 12px;
    
    span {
      font-size: 75%;
      color: red;
      text-align: center;
      padding: 3px;
    }

    input[type="submit"] {
      border-radius: 8px 8px 8px 8px;
      padding: 12px;
      font-size: medium;
      background-color: forestgreen;
      color: white;
      border-style: none;
    }

    input[type="submit"]:hover {
      background-color: rgb(0, 155, 0);
    }

    div {
      display: flex;
      flex-direction: column;
      width: 350px;
    }

    input[type="password"] {
      padding: 12px;
      border-radius: 8px 8px 8px 8px;
    }

    input[type="password"]:hover {
      border: 1px solid forestgreen;
    }

    input[type="password"]:focus {
      padding: 11px;
      border: 2px forestgreen solid;
    }

    input[type="text"] {
      padding: 12px;
      border-radius: 8px 8px 8px 8px;
    }

    input[type="text"]:hover {
      border: 1px solid forestgreen;
    }

    input[type="text"]:focus {
      padding: 11px;
      border: 2px forestgreen solid;
    }

    button {
      border-style: none;
      border-radius: 8px 8px 8px 8px;
      padding: 12px;
      font-size: medium;
      width: 350px;
      background-color: forestgreen;
      color: white;

    }

    button:hover {
      background-color: rgb(0, 155, 0);
    }

    button:active {
      outline: none;
      border: none;
    }
  }
  
}

.input-good {
  
  input {
    color: black;
    border: black 1px solid;
    font-family: 'Montserrat', Sans-Serif;

  }

  input::placeholder {
    color: black;
    font-family: 'Montserrat', Sans-Serif;
  }
}

.input-bad {
  
  
  input {
    border: red 1px solid;
  }
  input::placeholder {
    color: red;
  }
}

.switch-form {
  font-size: small;

  span {
    font-weight: 400;
  }

  button {
    text-decoration: none;
    border: none;
    background-color: white;
    color: forestgreen;
    font-weight: 600;
  }

  button:hover {
    color: rgb(0, 167, 0)
  }
}




