// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.session-form-container {
  position: fixed;
  background-color: white;
  border: solid 1px lightgrey;
  border-radius: 8px 8px 8px 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 300px;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  z-index: 0;

  h1 {
    font-family: 'Montserrat', Sans-Serif;
  }

  .session-form {
    display: flex;
    flex-direction: column;
  }
}





