.splash-container {
  font-family: 'Montserrat', Sans-Serif;
}


.search-bar-container {
  background-image: image-url('alpine.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 538px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
  h1 {
    color: rgb(245, 245, 245);
    font-size: 330%;
    font-weight: 600;
    margin-bottom: 30px;
  }
}
.search-form {
  position: relative;
  display: flex;
  align-items: center;
  font-family: 'Montserrat', Sans-Serif;
  background-color: white;
  padding: 18px;
  padding-right: 10px;
  border-radius: 100px;
  width: 600px;
  max-width: 100%;
  height: auto;
  border: none;
  
  button {
    color: forestgreen;
    background-color: transparent;
    border: none;
    font-size: 200%;
  }

  input {
    width: 570px;
    max-width: 100%;
    border: none;
    margin-left: 5px;
    color: rgb(100, 100, 100);
    font-size: 16px;
  }

}

.search-icon {
  color: rgb(70, 70, 70);
  font-weight: 10%;
  font-size: small;
}

.resize-big {
  height: 520px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: forestgreen;

  span {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    max-width: 346px;
    height: 175px;
    margin: 5px;

    h1 {
      font-size: 84px;
      font-weight: 700;
      margin-bottom: 8px;
    }

    h4 {
      font-size: 130%;
      font-weight: 24px;
      margin-bottom: 8px;
    }

    p {
      color: gray;
      font-size: 18px;
      font-weight: 400;
    }
  }
} 
.resize-small {
  height: 560px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: forestgreen;

  span {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    max-width: 346px;
    height: 175px;
    margin-right: none;

    h1 {
      font-size: 84px;
      font-weight: 700;
      margin-bottom: 8px;
    }

    h4 {
      font-size: 130%;
      font-weight: 24px;
      margin-bottom: 8px;
    }

    p {
      color: gray;
      font-size: 18px;
      font-weight: 400;
    }
  }
} 