.splash-container {
  font-family: 'Montserrat', Sans-Serif;
}


.search-bar-container {
  background-image: image-url('alpine.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 538px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    color: rgb(245, 245, 245);
    font-size: 330%;
    font-weight: 570px;
    margin-bottom: 30px;
    text-align: center;
    width: 600px;
  }
}

.resize-big {
  height: 520px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: forestgreen;

  span {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    max-width: 346px;
    height: 175px;
    margin: 5px;

    h1 {
      font-size: 84px;
      font-weight: 700;
      margin-bottom: 8px;
    }

    h4 {
      font-size: 130%;
      font-weight: 24px;
      margin-bottom: 8px;
    }

    p {
      color: gray;
      font-size: 18px;
      font-weight: 400;
    }
  }
} 
.resize-small {
  height: 560px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: forestgreen;

  span {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    max-width: 346px;
    height: 175px;
    margin-right: none;

    h1 {
      font-size: 84px;
      font-weight: 700;
      margin-bottom: 8px;
    }

    h4 {
      font-size: 130%;
      font-weight: 24px;
      margin-bottom: 8px;
    }

    p {
      color: gray;
      font-size: 18px;
      font-weight: 400;
    }
  }
} 