// Place all the styles related to the api/trails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// @import 'mapbox-gl/dist/mapbox-gl.css';

.trails-index-page {
  display: grid;
  grid-template-columns: 400px auto;
  max-height: 800px;
}

.trail-index-map {
  display: grid;
  height: inherit;
  max-height: inherit
}

.trails-index-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px 0 10px;
  font-family: 'Montserrat', Sans-Serif;
  color: rgb(143, 143, 143);
  height: inherit;
  max-height: inherit;
  overflow: auto;
}

.trail-index-item-link {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 238px;
  box-shadow: 0px 2px 8px -3px rgb(216, 216, 216);
  padding: 10px 0 10px 0;
  margin: 10px 0 10px 0;
  width: 350px;
  border-radius: 8px;
  
  div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 112px;
    margin-left: 15px;
  }


  h1{
    font-weight: bold;
  }

  .trail-location {
    min-width: max-content;
    font-size: 14px;
  }

  p {
    max-width: 60px;
    width: fit-content;
    padding: 3px;
    margin-bottom: 3px;
    font-size: 12px;
    border-radius: 3px;
  }

  span {
    padding: 3px 0 3px 0;
    font-size: 14px;
  }
}

.dif-hard {
  background-color: rgb(143, 143, 143);
  color: white;
  font-weight: 500;
}

.dif-easy {
  background-color: rgb(106, 194, 106);
  color: white;
  font-weight: 500;

}

.dif-moderate {
  background-color: rgb(97, 144, 214);
  color: white;
  font-weight: 500;
}
