// Place all the styles related to the api/trails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.trails-index{
  display: block;
  margin: 0 10px 0 10px;
  font-family: 'Montserrat', Sans-Serif;
  color: grey;
}

.trail-index-item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 300px;
  max-height: 100px;
  box-shadow: 0 1px 2px 0 lightgray;
  padding: 10px 0 10px 0;
  margin: 10px 0 10px 0;


  h1{
    font-weight: bold;
  }

  .trail-location {
    min-width: max-content;
    font-size: 14px;
  }

  p {
    max-width: 60px;
    width: fit-content;
    padding: 3px;
    font-size: 12px;
    border-radius: 3px;
  }
}

.dif-hard {
  background-color: rgb(255, 166, 166);
}

.dif-easy {
  background-color: green;
}

.dif-moderate {
  background-color: blue;
}
